
/* Loadzilla*/
/* ---------------------------------------------------------------------------------------------- */
.uploader-area {

	text-align: center;
	padding: 100px 50px;
	border: 1px dashed @border_1;
	margin-bottom: 15px;

	&.has-loaded {

		border: none;
		padding: 0;
	}
}

.linkcopy {
	
	position: absolute;
	left: -9999px;
}	